label live
	menu label Live
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config  quiet splash init=/lib/systemd/systemd

label livefailsafe
	menu label Live (failsafe)
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config noapic noapm nodma nomce nolapic nomodeset radeon.modeset=0 nouveau.modeset=0 nosmp vga=normal init=/lib/systemd/systemd

label livefailsafe-ATI/radeon
	menu label Live (fail-ATI/radeon)
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config noapic noapm nodma nomce nolapic nomodeset radeon.modeset=0 nouveau.modeset=0 nosmp vga=normal xmodule=vesa init=/lib/systemd/systemd

label Advanced Installer
	menu label Advanced Installer
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config  text-mode init=/lib/systemd/systemd

label memtest
	menu label Executar memtest
	kernel /isolinux/memtest.bin
	append -

label hd
	menu label Boot pelo HD
	localboot 0x80
	append -




